
body{
    text-align:center;
}
.box{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(221, 88, 88);
}
.green{
    background-color: rgb(31, 181, 31);
}
.purple{
    background-color: rgb(77, 7, 138);
}
.yellow{
    background-color: rgb(220, 220, 19);
}
.flash{
    background-color: rgba(255, 255, 255, 0.962);
}